html body {
        font:1rem/1.5 'Microsoft YaHei', 'Droid Sans Fallback', SimHei, Arial, Helvetica, tahoma, sans-serif;
}

.title {
        font:1rem/1.5 'Microsoft YaHei', 'Droid Sans Fallback', SimHei, Arial, Helvetica, tahoma, sans-serif;
        font-size: 36px;
}

.comment_option li {
        float: left;
        display: inline;
        list-style-type: none;
        position: relative;
}

.comment_white {
        display:inline-block;
        margin:0px 10px;
        background:#FFFFFF;
        width: 20px;
        height: 20px;
        border-radius: 5px;
        -moz-box-shadow: 0px 0px 3px #888888; /* 老的 Firefox */
        box-shadow: 0px 0px 3px #888888;
}
.comment_red {
        display:inline-block;
        margin:0px 10px;
        background:#ff6868;
        width: 20px;
        height: 20px;
        border-radius: 5px;
        -moz-box-shadow: 0px 0px 3px #888888; /* 老的 Firefox */
        box-shadow: 0px 0px 3px #888888;
}
.comment_blue {
        display:inline-block;
        margin:0px 10px;
        background:#66ccff;
        width: 20px;
        height: 20px;
        border-radius: 5px;
        -moz-box-shadow: 0px 0px 3px #888888; /* 老的 Firefox */
        box-shadow: 0px 0px 3px #888888;
}
.comment_pink {
        display:inline-block;
        margin:0px 10px;
        background:#ff69b4;
        width: 20px;
        height: 20px;
        border-radius: 5px;
        -moz-box-shadow: 0px 0px 3px #888888; /* 老的 Firefox */
        box-shadow: 0px 0px 3px #888888;
}
.comment_purple {
        display:inline-block;
        margin:0px 10px;
        background:#8a2be2;
        width: 20px;
        height: 20px;
        border-radius: 5px;
        -moz-box-shadow: 0px 0px 3px #888888; /* 老的 Firefox */
        box-shadow: 0px 0px 3px #888888;
}


.comment .author_name {
        display: inline;
}

.comment li {
        float: left;
        display: inline;
        position: relative;
        border-bottom: 1px solid #e5e9ef;
        border-top: 1px solid #e5e9ef;
        zoom: 1;
        list-style-type: none;
        list-style: none;
        margin: 0;
        padding: 22px 0 14px 0;
}

.comment .autor_face {
        position: relative;
        float: left;
        width: 16%;
        border-radius: 160px;
        overflow: hidden;
        display: block;
        border: 1px solid #e5e9ef;
}

.comment .author_face img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        vertical-align: middle;
}

.comment .content {
        line-height: 20px;
        padding: 2px 0;
        font-size: 14px;
        text-shadow: none;
        overflow: hidden;
        word-wrap: break-word;
        display: block;
}

.comment .comment_time {
        color: #99a2aa;
        line-height: 26px;
        zoom: 1;
}

.emoji-panel {
        display: block;
        padding:10px;
        width: 300px;
        right: 10px;
        border-radius: 5px;
}
.emoji-panel a {
        display: inline-block;
        padding: 3px 5px;
        font-size: 13px;
        color: #646c7a;
        cursor: pointer;
}

.emoji-panel a:hover {
        text-decoration: none;
        color: #4fc1e9;
}

/* Bilibili */
.rc-pic {
  border: 1px solid #eee;
  position: relative;
  float: left;
  width: 16%;
  max-width: 48px;
  border-radius: 160px;
  overflow: hidden;
  display: block;
}

.rc-pic:after {
  display: block;
  content: '';
  padding-top: 100%;
}

.rc-pic img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 0;
}

.comment-in {
        padding: 0;
}

.comment-in .list {
        border-bottom: 1px solid #eee;
        padding: 10px;
        margin: 0px;
        display: list-item;
        list-style-type: none;
        list-style: none;
}

.comment-in .list:last-child {
        border-bottom: 0;
}

.rc-main {
        width: 80%;
        float: right;
        position: relative;
}

.rc-main .rc-head {
        color: #999;
        font-size: .8rem;
}

.rc-main .rc-comment {
        display: -webkit-box;
        -webkit-line-clamp: 10;
        -webkit-box-orient: vertical;
        overflow: hidden;
}

.rc-main .rc-head .rc-name {
        display: inline-block;
        max-width: 50%;
        float: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #999;
}

.rc-main .rc-head .rc-time {
        display: inline-block;
        max-width: 50%;
        float: right;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}